<table>
	<tr>
	<th>id</th>
	<th>ニックネーム</th>
	<th>国籍</th>
	<th>職業</th>
	</tr>
	<%= @member.each do |i| %>
	<tr>
	<th><%= i.id %></th>
	<th><%= link_to i.name, member_path(i) %></th>
	<th><%= i.country %></th>
	<th><%= i.job %></th>
	<th><%= link_to "編集", edit_member_path(i) %>|
	<%= link_to "削除", i, method: :delete %> |
		
	</th>
	</tr>
	<% end %>


</table>
